# البيئة الوهمية
venv/
env/
.env/

# إعدادات حساسة
.env

# ملفات بايثون المؤقتة والمترجمة
__pycache__/
*.pyc
*.pyo
*.pyd

# قاعدة البيانات المحلية (لا ترفعيها أبداً لأنها تتغير باستمرار)
db.sqlite3

# ملفات السجلات والـ IDE
*.log
.vscode/
.idea/